.courses-sidebar-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
}

@media only screen and (max-width: 600px) {
    .courses-sidebar-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}