footer{
    /* background-color: rgb(224, 205, 192); */
    background-image: linear-gradient(to bottom, rgb(255, 254, 254) ,rgb(228, 187, 161) );
}
.footer-links li{
    padding: 4px 8px;
    border-radius: 8px;
    list-style: none;
}
.footer-links li:hover{
background-color: rgb(189, 185, 185);
cursor: pointer;
}